<title>Login</title>
{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h2>Login</h2>
      <br>
      <form action="{{url_for('main.login_page')}}" method = "POST">
        <label for = "user_name">Username: </label>
        <input type = "text" id = "user_name" name = "user_name"><br><br>
        <label for ="user_pass">Password:&nbsp;</label>
        <input type ="password" id = "user_pass" name = "user_pass"><br><br>
        <input  type = "submit" id = "submit_button" value = "Login">
    </form>
    </div>
   </div>
{%- endblock %}